# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.tlog
*.tlog
*.tlog
HS_Engine/x64/Debug/HS_Engine.Build.CppClean.log
HS_Engine/x64/Debug/HS_Engine.log
HS_Engine/x64/Debug/HS_Engine.tlog/CL.command.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/CL.read.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/CL.write.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/Lib-link.read.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/Lib-link.write.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/Lib.command.1.tlog
HS_Engine/x64/Release/HS_Engine.Build.CppClean.log
HS_Engine/x64/Release/HS_Engine.log
HS_Engine/x64/Release/HS_Engine.tlog/CL.command.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/CL.read.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib-link.read.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib-link.write.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib.command.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib.command.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib-link.write.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/Lib-link.read.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/CL.read.1.tlog
HS_Engine/x64/Release/HS_Engine.tlog/CL.command.1.tlog
HS_Engine/x64/Release/HS_Engine.log
HS_Engine/x64/Debug/HS_Engine.tlog/Lib.command.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/Lib-link.write.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/Lib-link.read.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/HS_Engine.lastbuildstate
HS_Engine/x64/Debug/HS_Engine.tlog/CL.write.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/CL.read.1.tlog
HS_Engine/x64/Debug/HS_Engine.tlog/CL.command.1.tlog
HS_Engine/x64/Debug/HS_Engine.log
HS_Engine/x64/Debug/HS_Engine.Build.CppClean.log
*.ipch
.vs/HS_ENGINE/v16/.suo
.vs/HS_ENGINE/v16/Browse.VC.db
*.log
\x64
